<div class="row">
    <div class="col-12">
        <nav>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="breadcrumb-item active">About</li>
            </ul>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        This is a sample website only.
    </div>
</div>